In [2]:
import pandas as pd

In [3]:
dic={'actual':[0,1,2,1,1,2,0,2,0,3],'predict':[0,0,0,1,1,1,2,2,2,3]}

In [4]:
df=pd.DataFrame(dic)

In [5]:
df

   actual  predict
0       0        0
1       1        0
2       2        0
3       1        1
4       1        1
5       2        1
6       0        2
7       2        2
8       0        2
9       3        3

In [6]:
# pd.crosstab(df,index='actual',columns='predict')
temp=pd.crosstab(df['actual'],df['predict'], rownames=['actual'], colnames=['predict'])

In [7]:
temp

predict  0  1  2  3
actual
0        1  0  2  0
1        1  2  0  0
2        1  1  1  0
3        0  0  0  1

In [8]:
c=2
temp.drop(index=c).values[:,c]

array([2, 0, 0], dtype=int64)

In [9]:
temp

predict  0  1  2  3
actual
0        1  0  2  0
1        1  2  0  0
2        1  1  1  0
3        0  0  0  1

# False Positive

In [7]:
c=0
temp.drop(index=c).values[:,c]

array([1, 1, 0], dtype=int64)

In [12]:
c=1
temp.drop(index=c).values[:,c]

array([0, 1, 0], dtype=int64)

In [13]:
c=2
temp.drop(index=c).values[:,c]

array([2, 0, 0], dtype=int64)

In [14]:
c=3
temp.drop(index=c).values[:,c]

array([0, 0, 0], dtype=int64)

In [17]:
temp

predict  0  1  2  3
actual
0        1  0  2  0
1        1  2  0  0
2        1  1  1  0
3        0  0  0  1

# False Negative

In [24]:
c=0
temp.drop(columns=c,axis=1).values[c,:]

array([0, 2, 0], dtype=int64)

In [25]:
c=1
temp.drop(columns=c,axis=1).values[c,:]

array([1, 0, 0], dtype=int64)

In [26]:
c=2
temp.drop(columns=c,axis=1).values[c,:]

array([1, 1, 0], dtype=int64)

In [27]:
c=3
temp.drop(columns=c,axis=1).values[c,:]

array([0, 0, 0], dtype=int64)

# True Positive

In [29]:
c=0
temp.values[c,c]

1

In [30]:
c=1
temp.values[c,c]

2

In [31]:
c=2
temp.values[c,c]

1

In [32]:
c=3
temp.values[c,c]

1

# True Negative

In [33]:
c=0
temp.drop(c,axis=1).drop(c,axis=0).values[:,:]

array([[2, 0, 0],
       [1, 1, 0],
       [0, 0, 1]], dtype=int64)

In [36]:
c=1
temp.drop(c,axis=1).drop(c,axis=0).values[:,:]

array([[1, 2, 0],
       [1, 1, 0],
       [0, 0, 1]], dtype=int64)

In [35]:
c=2
temp.drop(c,axis=1).drop(c,axis=0).values[:,:]

array([[1, 0, 0],
       [1, 2, 0],
       [0, 0, 1]], dtype=int64)

In [34]:
c=3
temp.drop(c,axis=1).drop(c,axis=0).values[:,:]

array([[1, 0, 2],
       [1, 2, 0],
       [1, 1, 1]], dtype=int64)