In [1]:
import pandas as pd

In [2]:
dic={'actual':[0,1,2,1,1,2,0,2,0,3],'predict':[0,0,0,1,1,1,2,2,2,3]}

In [3]:
df=pd.DataFrame(dic)

In [4]:
df

   actual  predict
0       0        0
1       1        0
2       2        0
3       1        1
4       1        1
5       2        1
6       0        2
7       2        2
8       0        2
9       3        3

In [5]:
# pd.crosstab(df,index='actual',columns='predict')
temp=pd.crosstab(df['actual'],df['predict'], rownames=['actual'], colnames=['predict'])

In [6]:
temp

predict  0  1  2  3
actual
0        1  0  2  0
1        1  2  0  0
2        1  1  1  0
3        0  0  0  1

In [8]:
c=2
temp.drop(index=c).values[:,c]

array([2, 0, 0], dtype=int64)

In [9]:
temp

predict  0  1  2  3
actual
0        1  0  2  0
1        1  2  0  0
2        1  1  1  0
3        0  0  0  1

# False Positive

In [7]:
c=0
temp.drop(index=c).values[:,c]

array([1, 1, 0], dtype=int64)

In [12]:
c=1
temp.drop(index=c).values[:,c]

array([0, 1, 0], dtype=int64)

In [13]:
c=2
temp.drop(index=c).values[:,c]

array([2, 0, 0], dtype=int64)

In [14]:
c=3
temp.drop(index=c).values[:,c]

array([0, 0, 0], dtype=int64)